---
title: Tags
layout: default
description: keep hungry keep foolish
---

<!-- Page Header -->
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
			
			<div style="text-align:center;">     

</div> 
  
<div class="panel" style="margin-bottom:10px; margin-top:10px;margin-left:90px;margin-right:90px;" >
<iframe id="iframe" scrolling="no" src="http://cpuck.com/html5s/animal-chess-game/" frameborder="0" height="461px" width="310px"></iframe> 
<iframe id="iframe" scrolling="no" src="http://cpuck.com/html5s/chinese-chess/" frameborder="0" height="461px" width="450px"></iframe>  
  
  <iframe id="iframe" scrolling="no" src="http://cpuck.com/html5s/num/" frameborder="0" height="461px" width="400px"></iframe>
  
  
 <!-- <iframe id="iframe" scrolling="no" src="http://cpuck.com/html5s/tb.html" frameborder="0" height="110px" width="400px"></iframe> -->
  

 </div>

  
  
<div id="main" style="margin-bottom:10px; margin-top:10px;margin-left:90px;margin-right:90px;">   
		



 <div style="text-align:center;margin-left:-10px;">
 </div>
<script type="text/javascript" src="/wxms/js/morse-code.js"></script>
<script type="text/javascript">
window.onload = function() {
    var input = document.getElementById('input');
    var output = document.getElementById('output');
    var parse = document.getElementById('parse');
    var decode = document.getElementById('decode');
    var reset = document.getElementById('reset');
    var error = document.getElementById('error');

    parse.onclick = function() {
        output.value = morse.parse(utils.trim(input.value));
        toggleError();
    }
    decode.onclick = function() {
        output.value = morse.decode(utils.trim(input.value));
        toggleError();
    }
    reset.onclick = function() {
        input.value = '';
        output.value = '';
        error.style.display = 'none';
    }

    function toggleError(){
        if(morse.error_flag) {
            error.style.display = 'block';
        } else {
            error.style.display = 'none';
        }
    }
}
</script>
<div style="text-align:center;"> 
↗↗↗↗↗↗↗↗↗↗↗↗↗↗
	<a href="http://www.9-68.com/yy1/gjnr_c2015921180020.html" target="_blank">动物棋游戏</a>&nbsp;
    <a href="http://www.dmaku.com/jquery-492.html" target="_blank">象棋游戏来自</a>&nbsp;<a href="https://github.com/songsenand/weiqi_board" target="_blank">围棋游戏来自</a>&nbsp;
    <a href="https://www.html5tricks.com/html5-css3-3d-rubik-cube.html" target="_blank">魔方游戏来自</a>&nbsp;
    <a href="https://rubiks-cube-solver.com/zh/#" target="_blank">魔方求解网站</a>
 &nbsp;
   <a href="https://mathsolver.microsoft.com/zh/solver" target="_blank">数学计算求解</a>&nbsp;
   
   &nbsp;
↖↖↖↖↖↖↖↖↖↖↖↖↖↖
 </div>

 <div style="text-align:center;">        
<iframe id="iframe" scrolling="no" src="http://cpuck.com/html5s/go/" frameborder="0" height="625px" width="650px"></iframe>

<iframe id="iframe" scrolling="no" src="http://cpuck.com/html5s/css3-3d-rubik-cube/" frameborder="0" height="625px" width="510px"></iframe>
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- jsj-ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1964437526797765"
     data-ad-slot="2673513260"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script></div>    
</div>	
			
			<div id='tag_cloud' class="tags">
				{% for tag in site.tags %}
				<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
				{% endfor %}
			</div>

            <!--<blockquote class="tag-comments">
                标签命名规范：
                    <li>行业观察、职位、公司优先使用中文</li>
                    <li>外国产品、术语优先使用英文</li>
            </blockquote>-->

            <!-- 标签列表 -->
			{% for tag in site.tags %}
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
				{% for post in tag[1] %}
				  <!-- <li class="listing-item">
				  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
				  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				  </li> -->
				 <div class="post-preview">
				    <a href="{{ post.url | prepend: site.baseurl }}">
				        <h2 class="post-title">
                            {{ post.title }}
				        </h2>
				        {% if post.subtitle %}
				        <h3 class="post-subtitle">
				            {{ post.subtitle }}
				        </h3>
				        {% endif %}
				    </a>
				    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
				</div>
				<hr>
				{% endfor %}
			</div>
			{% endfor %}

		</div>
	</div>
</div>
